# ASSIGNMENT 3 (NITISH KUMAR PILLA)

In [14]:
def myreduce(function,data):
    ans = data[0]
    for i in data[1:]:
        ans = function(ans,i)
    return ans

multiplier = lambda x,y : x*y

myreduce(multiplier,[9,7,55,6,6,7,8])

6985440

In [15]:
def myfilter(function,data):
    result=[]
    for i in data:
        result.append(function(i))
    return result

square = lambda x:x*x

myfilter(square,[2,4,6,8,10])

[4, 16, 36, 64, 100]

In [22]:
input1=['x','y','z']
first=[item*n for item in input1 for n in range(1,5)]

first

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [23]:
input2 = ['x','y','z']
second = [item*n for n in range(1,5)for item in input1 ]

second

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [54]:
input3 = [2,3,4]
third = [[item+x] for x in range(3) for item in input3]

third

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [55]:
input4 = [2,3,4,5]
fourth = [[item+x for x in range(4)] for item in input4]

fourth

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [64]:
input5 = [1,2,3]
five = [(item1,item) for item in input5 for item1 in input5]

five

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]